.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('../../assets/img/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    // background-repeat: no-repeat;

    .card-stack {
        position: relative;

        img {
            position: absolute;
            width: 120px;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-cards {
    right: 25px;;
    transform: scale(1.1) translateX(120px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.1) translateX(120px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.1) translateX(120px) translateY(-180px) rotate(-10deg);
;
    }
}

.player-position {
    position: absolute;
    right: 0;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    padding-top: 16px;
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}